{% comment %} Product list {% endcomment %}

<section class="section plp_products">
<div class="container">
    <div class="toggle_button">
        <p style="display: inline-block"> VIEW - </p>
        <button id="toggleThreeRowsButton" class="active"> 3 ROWS </button>
        <button id="toggleTwoRowsButton"> 2 ROWS </button>
    </div>
</div>
  {% render 'product-card' %}
</section>







  