
let cartCountSpan = document.querySelector('.miniCart_count')

function addItem(id) {
    event.preventDefault();
    let productID = $('input[name=id]').val()
    {% comment %} console.log(productID); {% endcomment %}
    $.ajax({
      type: 'POST', 
      url: '/cart/add/',
      dataType: 'json', 
      data: $('#'+id).serialize()
    }).done( (response) => {
          console.log(response)
         ++cartCount;
         cartCountSpan.innerHTML = cartCount;
         showSuccessMessage(response.title)
    }).fail( (error)=> {
      console.log("error")
    })
}

function showSuccessMessage(productTitle){
    $('.alert').removeClass('hidden')
    let text = `<h2>${productTitle} had been added to your cart</h2>`;
    $('.alert').append(text);
   setTimeout(()=>{
     $('.alert').addClass('hidden');
     $('.alert').empty();
   }, 5000);
}