{% comment %} Product list {% endcomment %}

<section class="productsList section">
{%- paginate collection.products by 10 -%}
    {% for product in collection.products  %}
     {% if product.available%}
        {%- include 'product-card' -%}
      {%endif%}
    {%endfor%}

  <div class="pagination">{{ paginate | default_pagination: next: 'Older', previous: 'Newer' }}</div>
{%- endpaginate -%}
</section>
