{% comment %} Collection hero banner {% endcomment %}
<section class="collectionHero section">
  <img src="{{ 'hero-img.jpg' | asset_url }}" alt="Watch on a mans wrist">
  <div class="heroContent">
    <h1 class="heroHeader">Mens watch collection</h1>
  </div>
</section>