{% comment %}
  Product list
{% endcomment %}
<section class="productsList section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="productsList__header">
          <h2 class="productsList__title">List</h2>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {%- paginate collection.products by 24 -%}

          <div class="productsList__grid">
            {%- for product in collection.products -%}
              {%- render 'product-card' with {product:product} -%}
            {%- endfor -%}
          </div>

          {%- if paginate.pages > 1 -%}
            <nav role="navigation">
              {%- render 'pagination', paginate: paginate -%}

            </nav>
          {%- endif -%}

        {%- endpaginate -%}
      </div>
    </div>
  </div>

</section>