{% comment %} Product list {% endcomment %}
<section class="productsList section" id="productsList">



    {%- for product in collection.products -%}

        
        {%include 'product-card'%}



    {%- endfor -%}
</section>
