{% comment %} Collection hero banner {% endcomment %}
{%- assign collection_title = collection.title -%}
{%- assign collection_image = collection.image.src | collection_img_url: 'large', scale: 2 -%}

<section class="collectionHero section">
  <img src="{{ collection_image }}" />
  <div class="collectionHeroTitle">
    <h1>{{ collection_title }}</h1>
  </div>
</section>
