{% comment %} Product list {% endcomment %}

{%- paginate collection.products by 15 -%}
    <section class="productsList section">
        {% for product in collection.products %}
            {%- include 'product-card' -%}
        {% endfor %}
    </section>
    
    <section class="productsListPagination section">
        {{ paginate | default_pagination: next: '>>', previous: '<<' }}
    </section>
{%- endpaginate -%}


