{% comment %} Mini cart {% endcomment %}
{%- assign cart_icon = 'icon-shopping-cart.png' | asset_img_url: 'large', scale: 2 -%}
{%- assign cart_count = cart.item_count -%}

<div class="mini-cart">
  <img class="mini-cart_icon" src="{{ cart_icon }}" />
  <span class="mini-cart_count">{{ cart_count }}</span>
</div>
