{% comment %} Product card {% endcomment %}


<form method="post" action="card/add">
<input type="hidden" name="id" value="{{product.varients.filter}}">
<input type="submit" value="add to cart" class="button"/>
</form>